<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Lead</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1>students Under {{student.first_name}} </h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Roll Number</th>
                <th>Group Lead</th>
                <th>Teacher</th>
                <th>Enrolled Courses</th>
            </tr>
        </thead>
        <tbody>
            {% for member in group_members %}
            <tr style="color: black;background-color: green;">
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.date_of_birth }}</td>
                <td>{{ member.roll_number }}</td>
                <td>{{ member.group_lead.first_name }}</td>
                <td>{% if member.teacher %}{{ member.teacher.name }}{% else %}None{% endif %}</td>
                <td>
                    {% for enrollment in member.enrolled.all %}
                    <li>{{forloop.counter }}: {{ item }}{{ enrollment.course.course_name }}{% if not forloop.last %}</li><br> {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href='/students/'>Student Records</a>
    <hr>
    <a href='/'>Home</a>
    <hr>
    <a href='/search/'>Back To Search Page</a>
    <hr>
    <button style="width: 95%;height: 10vh; background-color: black;color: aqua;
                   justify-content: center;  border-radius: 12px;align-items: center;margin-left: 2%; " 
                                           type="button" onclick="window.location.href='/add/'">Add New Student</button>
  
</body>
</html>