<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1>Student List</h1>
    <hr>
    <a href="{% url 'students' sort='asc' %}">Sort:New to Old</a>
    <hr>
    <a href="{% url 'students' sort='desc' %}">Sort:Old to New</a>
    <hr>
    <a href='/'>Home</a>
    <hr>
    <a href='/search/'>Search Page</a>
    <hr>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Roll Number</th>
                <th>Group Lead</th>
                <th>Teacher</th>
                <th>Enrolled Courses</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            {% if forloop.counter|divisibleby:2 %}
            <tr style="color: black;background-color: green;">
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.date_of_birth }}</td>
                <td>{{ student.roll_number }}</td>
                <td>{% if student.group_lead %}{{ student.group_lead.first_name }}{% else %}None{% endif %}</td>
                <td>{% if student.teacher %}{{ student.teacher.name }}{% else %}None{% endif %}</td>
                <td>
                    {% for enrollment in student.enrolled.all %}
                    <li>{{forloop.counter }}: {{ item }}{{ enrollment.course.course_name }}{% if not forloop.last %}</li><br> {% endif %}
                    {% endfor %}
                </td>
               <td> <button type="button" onclick="window.location.href='{% url 'update' student_id=student.id %}'">Update</button></td>
            </tr>
            {% else %}
            <tr style="color: black;background-color: rgb(229, 225, 8);">
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.date_of_birth }}</td>
                <td>{{ student.roll_number }}</td>
                <td>{% if student.group_lead %}{{ student.group_lead.first_name }}{% else %}None{% endif %}</td>
                <td>{% if student.teacher %}{{ student.teacher.name }}{% else %}None{% endif %}</td>
                <td>
                    {% for enrollment in student.enrolled.all %}
                    <li>{{forloop.counter }}: {{ item }}{{ enrollment.course.course_name }}{% if not forloop.last %}</li><br> {% endif %}
                    {% endfor %}
                </td>
               <td><button type="button" onclick="window.location.href='{% url 'update' student_id=student.id %}'">Update</button></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <button style="width: 95%;height: 10vh; background-color: black;color: aqua;
                   justify-content: center;  border-radius: 12px;align-items: center;margin-left: 2%; " 
                                           type="button" onclick="window.location.href='/add/'">Add New Student</button>
  
</body>
</html>
